@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--my-font-sans);
  --font-mono: var(--my-font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--my-font-sans), Arial, Helvetica, sans-serif;
}
